html
    head
        meta(charset='utf-8')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )
        meta(
            http-equiv='X-UA-Compatible'
        )
        link(
            rel='stylesheet'
            href="css/mustard-ui.min.css"
        )
        link(
            rel='stylesheet'
            href='css/style.css'
        )
        title Lite shop
    body
